.card {
    
    align-items: stretch;
    background-color: $grain;
    margin: 15px;
    img {
        width: 100%;
        height: auto;
    }
    .content-area {
        text-align: center;
        padding: 20px 10px 50px;
    }
}

.col-2 {
    flex: 1 1 calc(50% - 1em);
}

.col-3 {
    flex: 1 1 calc(33% - 1em);
}

.col-4 {
    flex: 1 1 calc(25% - 1em);
}