.card {
    background-color: $grain;
    margin: 15px auto;
    img {
        height: auto;
    }
    .content-area {
        text-align: center;
        padding: 20px 10px 50px;
    }
}

.col-2 {
    max-width: 550px;
    margin: 15px auto;
}

.col-3 {
    max-width: 360px;
    margin: 15px auto;
}

@media screen and (min-width: 768px ){
    .col-2 {
        max-width: 540px;
        width: 50%;
        margin: 15px;
    }
    
    .col-3 {
        max-width: 360px;
        width: 33.3333333333%;
        margin: 15px;
    }
}